html {
    height: 100%;
}

body {
    margin: 0px;
    font-size: 16px;
}

header {
    background-color: rgb(36 39 41);
}

li {
    padding: 30px;
    list-style-type: none;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

a {
    color: white;
}

img {
    position: relative;
    opacity: 1;
    filter: alpha(opacity=100);
    margin: 8px;
    width: 160px;
    height: 160px;
   z-index: 1;
}

.is-active {
    opacity: 0.5;
    filter: alpha(opacity=10);
    z-index: 2;
    border: 2px solid black;
    border-radius: 50%;  
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

button {
    padding: 6px;
    margin: 20px;
    background-color: rgb(36 39 41);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.nav {
    font-size: 22px;
}

.bloc-page {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-grid {
    display: flex;
    justify-content: center;
}

.col-06 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    text-align: center;
}
